<tbody >
    <% let ob={} ; let bk_mrk_ob = {};%> 
    <% for(ques of user.problems){ %>
        <% let idd = ques.id; ob[idd] = true;%> <%# true is usr did ques  %>
        
    <% } %>  
    <% for(ques of user.bookMarks){ %>
        
        <% let idb = ques.id; bk_mrk_ob[idb] = true;%> <%# true is usr did ques  %>
        
    <% } %>  
    <% let c = 0; %> <%# question count  %> 
    <% for(let question of all_problems){ %>
        <% c++; %>
        <tr>
            <th>
                <%= c ;%> 
            </th>
            <td>
                <% if(bk_mrk_ob[question.id]){ %>
                        <a href="/problems/bookmark/?id=<%=question.id%>&toggle=0">
                            <i class="bi bi-bookmark-star-fill"></i>
                        </a>       
                <% }else{ %>
                    <a href="/problems/bookmark/?id=<%=question.id%>&toggle=1">
                        <i class="bi bi-bookmark setbookmrk" ></i>
                    </a>
                    
                <% } %> 
            </td>
            <td>
                <div class="container">
                    <div class="row">
                        <div class = "col-10">
                            <a href="<%=question.url%>">
                                <%= question.name %>
                            </a>
                        </div>
                        <div class="col">
                            <form class= "form-ques-check" action="/problems/update_problem" method="post">
                                <% if(ob[question.id]){ %>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" name = "done" checked >
                                    </div>
                                <% }else {%> 
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="done">   
                                    </div>
                                    
                                <% } %> 
                                <input type="hidden" name="id" value=<%=question.id%>>
                            </form>
                        </div>

                    </div>
                </div>
                
               
            </td>
            <td>
                
                <a href="/problems/notes/<%=question.id%>" id="note-<%=question.id%>" class="_nts">
                    <i class="bi bi-journal-code"></i>
                </a>
            </td>
        <% } %> 
</tbody>
