<link rel="stylesheet" href="/images/problems/problems.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">



<div id="main">
    <button class="openbtn" onclick="openNav()">☰ Topics</button>  

  </div>
<div id="mySidebar" class="sidebar container bg-dark">
    <div class = "row text-end">
        <i onclick = "closeNav()" class="bi bi-x-circle-fill text-white bg-dark  pe-auto fs-5" id = "x_bar"></i>
    </div>
    
    <ul class="text-light bg-dark list-group list-unstyled">
        <% for(topic of topics){ %>
            <li  class="text-light bg-dark " >
                <a href="/problems/?topic=<%=topic%> ">
                    <%= topic %>
                        <br>
                </a>
            </li>
        <%}%>
    </ul>
</div>


  
        <div class = "d-flex flex-column justify-content-center">

                <div class="d-flex justify-content-center"style = "margin : 45px">
                    <h3 style="display: block;"><%=  locals.topicName %></h3>
                </div>        
                
                
                
                <% if(locals.user){ %> <%# If the user exists  %>
                    <div class="ques-container">
                        <div id= "ques-prog-container" style="display: inline;">
                            <h3 class = "text-center" id = "question-progress"><%=user.problems.length%>/</h3>
                        </div>
                        <h3 class = "text-center" > <%=all_problems.length%></h3>
                           

                    </div>
                    
                     
                    <%-include('_problems-user.ejs')-%> 
                <%}else{%>
                    <div  class="overflow-auto container text-center" style="height: 775px; width : 1000px ">
                        <table class = "table">
                            <thead>
                                <th scope="col"> # </th>
                                <th scope="col">Question</th>                           
                            </thead>
                            <tbody>
                                <% let c = 0; %> <%# question count  %> 
                                <% for(let question of all_problems){ %>
                                    <% c++; %>
                                    <tr>
                                        <th>
                                            <%= c ;%> 
                                        </th>
                                        <td>
                                            <div class="container">
                                                <div class="row">
                                                    <div class = "col-12">
                                                        <a href="<%=question.url%>">
                                                            <%= question.name %>
                                                        </a>
                                                    </div>
                                                    
                                                </div>
                                            </div>   
                                        </td>
                                    <% } %> 
                            </tbody>
                        </table>
                    </div>
                <% } %> 


                
            
        </div>


<script src="/images/problems/problems.js"></script>